In [1]:
num=2.5
type(num)

float

In [2]:
num = 5
type(num)

int

In [3]:
num = 6+9j
type(num)

complex

In [5]:
a = 5.6
b = int(a)
type(b)
b

5

In [6]:
k = float(b)
k

5.0

In [7]:
k = 6
c= complex(b,k)
c

(5+6j)

In [8]:
b>k

False

In [9]:
bool = b<k
bool

True

In [10]:
type(bool)

bool

In [11]:
int(True)

1

In [13]:
nums = []
nums.append(21)
nums.append(40.5)
nums.append("string")
print(nums)

[21, 40.5, 'string']

In [15]:
t = (25,34,78,145,67)
type(t)

tuple

In [16]:
str = "tom"
type(str)

str

In [1]:
range(10)
range(0,10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(2,10,2))

[2, 4, 6, 8]

In [20]:
type(range(10))

range

In [21]:
d = {'ravi':'samsung','rahul':'iphone','kiran':'oneplus'}
d

{'ravi': 'samsung', 'rahul': 'iphone', 'kiran': 'oneplus'}

In [22]:
d.keys()

dict_keys(['ravi', 'rahul', 'kiran'])

In [23]:
d.values()

dict_values(['samsung', 'iphone', 'oneplus'])

In [24]:
d['kiran']

'oneplus'

In [25]:
d.get('rahul')

'iphone'

In [27]:
a = 3
print(a)
type(a)

3

int

In [28]:
a = 4.5
print(a)

4.5

In [29]:
a = 10
b = 5

In [30]:
add = a+b
sub = a-b
mul = a*b
div = a/b
mod = a%b

In [31]:
print(add,sub,mul,div,mod)

15 5 50 2.0 0

In [32]:
a = 10
b = 5

In [33]:
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
True
True
False

In [36]:
x = 3
x +=5
print(x)

8

In [39]:
a=10
b=20
c=a
print(a is not b)
print(a is c)

True
True

In [41]:
a=10
b=4
print(a&b)

0

In [42]:
a = 10
b = 4
print(a|b)

14

In [2]:
a = 60
print(~a)

-61

In [3]:
a=10
b=4
print(a^b)

14

In [4]:
a=40
a<<2

160

In [6]:
a = 10
a>>2

2

In [5]:
list = [3,3,2,2,3,33,35,32]
print(32 in list)
print(3 not in list)

True
False

# Loops

## for loop

In [ ]:
#for iterating_var in sequence:
   #statements(s)                   #(syntax)

In [1]:
x = ['john',65,2.5]
for i in x:
    print(i)

john
65
2.5

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [3]:
#x = ['john',65,2.5]
#for i in x:
    #print(type(i),i)

### Break Statement in for Loop

In [10]:
colors = ["red","green","purple","black"]
for x in colors:
    print(x)
    if x == "green":
        break

red
green

In [1]:
print("tuple iteration\n")               #iterating over a tuple
t = ("python","program","language")
for i in t:
    print(i)

tuple iteration

python
program
language

In [9]:
print("String iteration\n")      #iterating over string
s = "python"
for i in s:
    print(i)

String iteration

p
y
t
h
o
n

In [10]:
print("Set iteration\n")         #iterating over set
set = {1,2,3,4,5,6}
for i in set:
    print(i)

Set iteration

1
2
3
4
5
6

In [9]:
for letter in 'Python':
    print("letter:",letter)

letter: P
letter: y
letter: t
letter: h
letter: o
letter: n

# while loop

In [ ]:
while expression:
    statement(s)          #(syntax)

In [22]:
i = 0
while i<=10:
    print("hello")
    i=i+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [23]:
#count = 1
#while count<10:
    #print("hello:",count)
    #count+=1          #incrementation

In [17]:
count = 0
while (count < 9):
    print('The count is:', count)
    count = count + 1   # the value is incremented by 1 in every iteration.

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

### Using else Statement with While Loop

In [8]:
count = 0
while count < 5:           # prints a number as long as it is less than 5
    print(count, " is  less than 5")
    count = count + 1
else:                     # otherwise else statement gets executed.
    print(count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

## if

In [4]:
a = 33
b = 200
if b>a:
    print("b is greater than a")

b is greater than a

In [5]:
language='python'
if language == 'python':
    print('condition was True')

condition was True

In [6]:
num=3
if num>0:
    print(num,"is a positive number")

3 is a positive number

In [7]:
num=3
if num>0:
    print(num,"is a negative number")

3 is a negative number

## if else

In [9]:
#if test expression:
    #Body of if                #syntax for if else
#else:
    #Body of else

In [24]:
if 2<5:
    print('if')
else:
    print('else')

if

In [25]:
num = 3
if num>=0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

In [26]:
language='python'
if language=='java':
    print('language is python')
else:
    print('no match')

no match

In [27]:
if 2<1 and 5>6:
     print('if')
else:
    print('else')

else

In [3]:
if 2<1 or 5>4 and 5==0:
    print('if')
else:
    print('else')

else

In [29]:
if 2<1 or 5>4 and 5!=0:
    print('if')
else:
    print('else')

if

In [30]:
if num>=0:
    print("postive number")
else:
    print("negative number")

postive number

## if elif else

In [31]:
if num>0:
    print("positive number")
elif num==0:
    print("zero")
else:
    print("negative number")

positive number

In [32]:
x=15
y=12
if x==y:
    print("both are equal")
elif x>y:
    print("x is greater then y")
else:
    print("x is smaller then y")

x is greater then y

## nested if

In [33]:
num = float(input("enter a number"))
if num>=0:
    if num==0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

enter a number5
positive number

In [34]:
a=5
b=10
c=15
if a>b:
    if a>c:
        print("a value is big")
    else:
        print("c value is big")
elif b>c:
    print("b value is big")
else:
    print("c is big")

c is big

In [4]:
2<1

False