# variables

a = 3
print(a)

In [6]:
a = "hello world"
print(a)

str

In [7]:
a = 4.4
print(a)

4.4

In [8]:
num = 2.5
type(num)

float

In [9]:
num = 5
type(num)

int

In [10]:
num = 6+9j
type(num)

complex

In [11]:
a = 5.6
b = int(a)
type(b)

int

In [12]:
k = float(b)
k

5.0

In [13]:
k = 6
c = complex(b,k)
c

(5+6j)

In [14]:
b<k

True

In [16]:
bool = b<k
bool

True

In [17]:
type(bool)

bool

In [18]:
int(True)

1

In [19]:
nums = []
nums.append(21)
nums.append(40.5)
nums.append("string")
print(nums)

[21, 40.5, 'string']

In [20]:
t = (25,39,4,56,12)
type(t)

tuple

In [21]:
str = "tom"
type(str)

str

In [22]:
d = {'ravi':'samsung','rahul':'iphone','kiran':'oneplus'}
d

{'ravi': 'samsung', 'rahul': 'iphone', 'kiran': 'oneplus'}

In [23]:
d.keys()

dict_keys(['ravi', 'rahul', 'kiran'])

In [24]:
d.values()

dict_values(['samsung', 'iphone', 'oneplus'])

In [25]:
d['rahul']

'iphone'

In [26]:
d.get('kiran')

'oneplus'

# Loops in python

## For loop

In [5]:
x = ['john',65,2.5]
for i in x:
    print(i)

john
65
2.5

In [6]:
print("list Iteration")
l = ["python","programming","lang"]
for i in l:
    print(i)

list Iteration
python
programming
lang

In [7]:
print("String iteration\n")
s = "python","java"
for i in s:
    print(i)

String iteration

python
java

In [9]:
print("\nSet iteration")
set = {1,2,3,4,5,6}
for i in set:
    print(i)

Set iteration
1
2
3
4
5
6

# While loop

In [9]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

# Data types

In [1]:
num = 5
type(num)

int

In [4]:
num = 2.5
type(num)
#print(num)

float

In [6]:
num = 6+9j
print(type(num))

<class 'complex'>

In [8]:
a = 5.6
b = int(a)
type(b)
b

5

In [9]:
k = float(b)
k

5.0

In [10]:
k = 6
c = complex(b,k)
c

(5+6j)

In [11]:
b<k

True

In [12]:
b>k

False

In [13]:
int(True)

1

In [14]:
int(False)

0

### sequence data types

In [15]:
lst = [25,12,45,2.5]
print(type(lst))

<class 'list'>

In [16]:
t = (25,36,4,57,12)
print(type(t))

<class 'tuple'>

In [17]:
a = "Hello,World!"
print(len(a))            #To get the length of a string, use the len() function
print(type(a))

12
<class 'str'>

In [19]:
txt = "The best things in life are free!"
print("free" not in txt)

False

In [20]:
a = "Hello,World!"
print(a.upper())

HELLO,WORLD!

In [21]:
range(10)
range(0,10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(2,10,2))

[2, 4, 6, 8]

In [23]:
d = {'ravi':'samsung','rahul':'iphone','kiran':'oneplus'}
d

{'ravi': 'samsung', 'rahul': 'iphone', 'kiran': 'oneplus'}

In [24]:
d.keys()

dict_keys(['ravi', 'rahul', 'kiran'])

In [25]:
d.values()

dict_values(['samsung', 'iphone', 'oneplus'])

In [26]:
d['rahul']

'iphone'

In [27]:
d.get('kiran')

'oneplus'

In [ ]:
a = 10
name ="john"
salary = 2000.24

# operators

In [28]:
a = 5
b = 10
add = a+b
sub = a-b
mul = a*b
div = a/b
mod = a%b
print(add,sub,mul,div,mod)

15 -5 50 0.5 5

In [29]:
a = True
b = False

print(a and b)     #true if both the operands are true
print(a or b)      #true if any one operand is true
print(not a)       #true if the operand is false

False
True
False

In [30]:
a=10
b=4
print(a&b)

0

In [31]:
a=10
b=4
print(a|b)

14

In [34]:
a=40
print(~a)

-41

In [35]:
a=40
a<<2

160

In [36]:
a = 40
a>>2

10

In [37]:
x=3
x+=5                                 #combines += together which means x's value and x+='s value
print(x)

8

In [39]:
a=10
b=20
c=a
print(a is not b)
print(a is not c)

True
False

In [40]:
list = [3,3,2,2,3,33,35,32]
print(32 in list)
print(3 not in list)

True
False