In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/6_train_test_split/carprices.csv")
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [4]:
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline              #to figureout the relation btwn my dependent and independent variable

UsageError: unrecognized arguments: #to figureout the relation btwn my dependent and independent variable

In [ ]:
plt.scatter(df['Mileage'],df['Sell Price($)'])

In [ ]:
plt.scatter(df['Age(yrs)'],df['Sell Price($)'])

Looking at above two scatter plots, using linear regression model makes sense as we can clearly see a linear relationship between our dependant (i.e. Sell Price) and independant variables (i.e. car age and car mileage)

The approach we are going to use here is to split available data in two sets

Training: We will train our model on this dataset.
Testing: We will use this subset to make actual predictions using trained model.
The reason we don't use same training set for testing is because our model has seen those samples before, using same samples for making predictions might give us wrong impression about accuracy of our model. It is like you ask same questions in exam paper as you tought the students in the class.

In [ ]:
X = df[['Mileage'],['Age(yrs)']]

In [ ]:
y = df['Sell Price($)']          #y is sell price

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

x,y is our input and i want test data set size to be 20%

In [ ]:
len(X_train)

In [ ]:
len(X_test)

In [2]:
X_train

NameError: name 'X_train' is not defined

In [ ]:
X_test

In [ ]:
y_train

In [ ]:
y_test

In [3]:

from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

NameError: name 'X_train' is not defined

clf(classifier) is an object of this class and we are using fit method to train our model...and my model is trained now

In [ ]:
clf.predict(X_test) #calling predict method on our actual test dataset

In [ ]:
clf.score(X_test, y_test)